@import url(./styles/header.css);
@import url(./styles/sobre.css);
@import url(./styles/numeros.css);
@import url(./styles/vagas.css);
@import url(./styles/colaboradores.css);
@import url(./styles/oportunidades.css);

:root {
    --fonte-principal: 'Inter';
    --cinza: #667085;
    --cinza-secundario: #3A404E;
    --vermelho: #8E2424;
    --preto: #101828;
    --branco: #FFFFFF;
    --branco-secundario: #98A2B3;
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}